/* -------------------- */
/* ==    SOMMAIRE       */
/* -------------------- */

/*L12  ELEMENTS PRINCIPAUX    */
/*L56  HEADER                 */
/*L71  CONTENEUR PRINCIPAL    */
/*L195 FOOTER                 */
/*L215 ANIMATION SHAKE BOTTOM */
/*L289 MEDIA QUERIES          */

/* ------------------------------ */
/* ==   ELEMENTS PRINCIPEAUX      */
/* ------------------------------ */
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}
.menu_details {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}
h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  font-family: "kalam", "Courier New", Courier, monospace;
}
/* --- Soulignement ---*/
.title h3 {
  background: linear-gradient(
      to top,
      rgba(246, 145, 106, 1) 0%,
      rgba(246, 145, 106, 1) 5%,
      transparent 5.01%
    )
    no-repeat left bottom / 0% 100%;
  transition: background-size 0.5s;
}
.title h3:hover {
  background-size: 100% 100%;
}
p {
  font-size: 13px;
  margin-right: 6px;
  font-family: "kalam", "Courier New", Courier, monospace;
}
/* ---------------------- */
/* ==     HEADER          */
/* ---------------------- */

header {
  text-align: center;
  width: 100%;
  background-color: rgba(87, 156, 135, 1);
}

h1 {
  color: rgba(253, 203, 70, 1);
  font-family: "Raleway", "Courier New", Courier, monospace;
  font-size: 45px;
}
/*--------------------------*/
/* ==  CONTENEUR PRINCIPAL  */
/*--------------------------*/

/* ---Conteneur ---*/
#container_menu1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0 80px 0;
}
#menu1 {
  background-color: rgba(252, 223, 219, 1);
  box-shadow: 1px 1px 5px 5px #d6d5d5e1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#note {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}
/* --- Icone --- */
.icon {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.icon img {
  width: 80px;
  height: 80px;
}
#note h2 {
  font-family: "Devonshire", "Courier New", Courier, monospace;
  font-size: 35px;
  margin-top: 0;
  opacity: 0.7;
}
/* Entrées */
.hr_1 {
  display: flex;
  align-items: center;
}
/* --- Traits titre --- */
.hr_1::before {
  border-top: black 2px solid;
  content: "";
  flex: 1;
  margin-left: 10%;
  margin-right: 10%;
}
.hr_1::after {
  border-top: black 2px solid;
  content: "";
  flex: 1;
  margin-left: 10%;
  margin-right: 10%;
}
/* Plats */
.hr_2 {
  display: flex;
  align-items: center;
}
/* --- Traits titre --- */
.hr_2::before {
  border-top: black 2px solid;
  content: "";
  flex: 1;
  margin-left: 10%;
  margin-right: 5%;
}
.hr_2::after {
  border-top: black 2px solid;
  content: "";
  flex: 1;
  margin-left: 5%;
  margin-right: 10%;
}
/* Desserts*/
.hr_3 {
  display: flex;
  align-items: center;
}
/* --- Traits titre --- */
.hr_3::before {
  border-top: black 2px solid;
  content: "";
  flex: 1;
  margin-left: 10%;
  margin-right: 3%;
}
.hr_3::after {
  border-top: black 2px solid;
  content: "";
  flex: 1;
  margin-left: 3%;
  margin-right: 10%;
}
/*--- Titre du bas ---*/
#bottom_menu {
  display: flex;
  flex-direction: row;
}
#bottom_menu p {
  font-family: "Devonshire", "Courier New", Courier, monospace;
  font-size: 20px;
  margin-top: 33px;
  margin-left: 10px;
}
/*--- Icone du bas --- */
.icon_2 {
  display: flex;
  justify-content: center;
  margin-top: 13px;
}
img {
  width: 50px;
  height: 50px;
}
/*--------------*/
/* ==  FOOTER   */
/*--------------*/
footer {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(87, 156, 135, 1);
}
footer a {
  color: rgba(253, 203, 70, 1);
  margin: 5px auto;
  font-family: "Raleway", "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 13px;
}
/* -----------------------------*/
/*  == ANIMATION SHAKE BOTTOM   */
/* -----------------------------*/
.shake-bottom:hover {
  -webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
/*---------------------*/
/* == MEDIA QUERIES    */
/*_____________________*/

/*--- Medium sreen ---*/
@media all and (min-width: 320px) and (max-width: 468px) {
  h2 {
    font-size: 25px;
  }
  #menu1 {
    width: 90%;
    margin-left: 1%;
  }
}
/*--- Tablet ---*/
@media all and (min-width: 468px) and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  #menu1 {
    width: 90%;
    margin-left: 1%;
  }
}
/*--- Medium sreen /Landscape /Desktop ---*/
@media all and (min-width: 768px) {
  h1 {
    font-size: 55px;
  }
  #note {
    min-width: 320px;
    max-width: 1280px;
    width: 100%;
  }
  #note h2 {
    font-size: 45px;
    margin-bottom: 50px;
  }
  .icon img {
    width: 100px;
    height: 100px;
  }
  #menu1 {
    width: 90%;
    margin-left: 1%;
  }
  .container_menu_details {
    max-width: 1100px;
    width: 100%;
  }
  h3 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
  }
  #bottom_menu {
    margin-top: 20px;
  }
  #bottom_menu p {
    font-size: 30px;
    margin-top: 25px;
  }
  footer a {
    font-size: 20px;
  }
}
/* --- Large screens ---*/

@media all and (min-width: 2560px) {
  h1 {
    font-size: 75px;
  }
  #note {
    min-width: 320px;
    max-width: none;
    width: 100%;
  }
  #note h2 {
    font-size: 65px;
    margin-bottom: 50px;
  }
  .icon img {
    width: 150px;
    height: 150px;
    margin-top: 100px;
  }
  #menu1 {
    width: 70%;
    margin-left: 1%;
  }
  .container_menu_details {
    max-width: 2000px;
    margin-bottom: 50px;
    width: 100%;
  }
  h3 {
    font-size: 45px;
  }
  p {
    font-size: 35px;
  }
  #bottom_menu {
    margin-top: 40px;
  }
  #bottom_menu p {
    font-size: 50px;
    margin-top: 25px;
    margin-left: 15px;
  }
  img {
    width: 80px;
    height: 80px;
  }
  footer a {
    font-size: 30px;
  }
}
