/* -------------------- */
/* ==    SUMMARY        */
/* -------------------- */

/*L12  ELEMENTS PRINCIPAUX    */
/*L62  HEADER                 */
/*L75  CONTENEUR PRINCIPAL    */
/*L256 FOOTER                 */
/*L276 ANIMATION SHAKE BOTTOM */
/*L350 MEDIA QUERIES          */

/* ------------------------------ */
/* ==   ELEMENTS PRINCIPEAUX      */
/* ------------------------------ */
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}
a {
  text-decoration: none;
}
h2 {
  text-align: center;
  font-family: "Dancing Script", "Times New Roman", Times, serif;
  font-size: 30px;
  background: linear-gradient(
    90deg,
    rgba(4, 49, 223, 1) 0%,
    rgba(117, 168, 244, 1) 72%,
    rgba(11, 123, 246, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding-left: 2px;
}
.container_menu_details {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container_menu_details_3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 80px;
}
h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  font-family: "Kalam", "Times New Roman", Times, serif;
}
p {
  font-size: 13px;
  font-weight: 100;
  margin-right: 6px;
  font-family: "Kalam", "Times New Roman", Times, serif;
}
/* ---------------------- */
/* ==     HEADER          */
/* ---------------------- */

header {
  text-align: center;
  width: 100%;
  background-color: rgba(87, 156, 135, 1);
}
h1 {
  color: rgba(253, 203, 70, 1);
  font-family: "Raleway", "Courier New", Courier, monospace;
}
/*-----------------------------*/
/* ==  CONTENEUR PRINCIPAL     */
/*-----------------------------*/
/* conteneur */
#container_menu3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0 80px 0;
}
#menu3 {
  background-color: rgba(249, 249, 249, 1);
  box-shadow: 5px 5px 5px #a8a8a8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#delight {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding-top: 25px;
  padding-bottom: 5px;
}
.containeur_menu_details {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* Entrées */
.hr_1 {
  display: flex;
  align-items: center;
}
/* --- Soulignement ---*/
.hr_1 h3 {
  background: linear-gradient(
      to top,
      rgba(14, 50, 222, 1) 0%,
      rgba(14, 50, 222, 1) 5%,
      transparent 5.01%
    )
    no-repeat left bottom / 0% 100%;
  transition: background-size 0.5s;
}
.hr_1 h3:hover {
  background-size: 100% 100%;
}
/* --- Traits titre --- */
.hr_1::before {
  height: 2px;
  background-image: linear-gradient(
    to left,
    rgba(14, 50, 222, 1),
    rgba(0, 0, 0, 0)
  );
  content: "";
  flex: 1;
  margin-left: 3%;
  margin-right: 5%;
}
.hr_1::after {
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(14, 50, 222, 1),
    rgba(0, 0, 0, 0)
  );
  content: "";
  flex: 1;
  margin-left: 5%;
  margin-right: 3%;
}
.menu_details_1 {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}
/* Plats */
.hr_2 {
  display: flex;
  align-items: center;
}
/* --- Soulignement ---*/
.hr_2 h3 {
  background: linear-gradient(
      to top,
      rgba(60, 142, 242, 1) 0%,
      rgba(60, 142, 242, 1) 5%,
      transparent 5.01%
    )
    no-repeat left bottom / 0% 100%;
  transition: background-size 0.5s;
}
.hr_2 h3:hover {
  background-size: 100% 100%;
}
/* --- Traits titre --- */
.hr_2::before {
  height: 2px;
  background-image: linear-gradient(
    to left,
    rgba(60, 142, 242, 1),
    rgba(0, 0, 0, 0)
  );
  content: "";
  flex: 1;
  margin-left: 3%;
  margin-right: 5%;
}
.hr_2::after {
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(60, 142, 242, 1),
    rgba(0, 0, 0, 0)
  );
  content: "";
  flex: 1;
  margin-left: 5%;
  margin-right: 3%;
}
.menu_details_2 {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}
/* Desserts */
.hr_3 {
  display: flex;
  align-items: center;
}
/* --- Soulignement ---*/
.hr_3 h3 {
  background: linear-gradient(
      to top,
      rgba(68, 171, 248, 1) 0%,
      rgba(68, 171, 248, 1) 5%,
      transparent 5.01%
    )
    no-repeat left bottom / 0% 100%;
  transition: background-size 0.5s;
}
.hr_3 h3:hover {
  background-size: 100% 100%;
}
/* --- Traits titre --- */
.hr_3::before {
  height: 2px;
  background-image: linear-gradient(
    to left,
    rgba(68, 171, 248, 1),
    rgba(0, 0, 0, 0)
  );
  content: "";
  flex: 1;
  margin-left: 3%;
  margin-right: 5%;
}
.hr_3::after {
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(68, 171, 248, 1),
    rgba(0, 0, 0, 0)
  );
  content: "";
  flex: 1;
  margin-left: 5%;
  margin-right: 3%;
}
.menu_details_3 {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}
/*--------------*/
/* ==  FOOTER   */
/*--------------*/
footer {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(87, 156, 135, 1);
}
footer a {
  color: rgba(253, 203, 70, 1);
  margin: 5px auto;
  font-family: "Raleway", "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 13px;
}
/* ------------------------
 * ANIMATION SHAKE BOTTOM
 * ------------------------*/
.shake-bottom:hover {
  -webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
/*---------------------*/
/* == MEDIA QUERIES    */
/*_____________________*/

/*--- Medium sreen ---*/
@media all and (min-width: 320px) and (max-width: 468px) {
  h2 {
    font-size: 25px;
  }
  #menu3 {
    width: 90%;
    margin-left: 1%;
  }
}
/*--- Tablet ---*/
@media all and (min-width: 468px) and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  #menu3 {
    width: 90%;
    margin-left: 1%;
  }
}
/*--- Landscape /Desktop / Large screen ---*/
@media all and (min-width: 768px) {
  #delight {
    min-width: 320px;
    max-width: 1100px;
    width: 100%;
  }
  h1 {
    font-size: 55px;
  }
  #delight h2 {
    font-size: 45px;
    padding-left: 4px;
    margin: 100px 0 50px 0;
  }
  #menu3 {
    width: 70%;
    margin-left: 1%;
  }
  .container_menu_details {
    max-width: 1100px;
    margin-bottom: 50px;
  }
  .container_menu_details_3 {
    max-width: 1100px;
    margin-bottom: 50px;
  }
  h3 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
  }

  footer a {
    font-size: 20px;
  }
}
/* --- Large screens ---*/
@media all and (min-width: 2560px) {
  h1 {
    font-size: 75px;
  }
  #delight {
    min-width: 320px;
    max-width: none;
    width: 100%;
  }
  #delight h2 {
    font-size: 65px;
    margin-bottom: 50px;
    padding-left: 7px;
  }
  .icon img {
    width: 150px;
    height: 150px;
    margin-top: 100px;
  }
  #menu3 {
    width: 70%;
    margin-left: 1%;
  }
  .container_menu_details {
    max-width: 2000px;
    margin-bottom: 50px;
    width: 100%;
  }
  .container_menu_details_3 {
    max-width: 2000px;
    margin-bottom: 50px;
    width: 100%;
  }
  h3 {
    font-size: 45px;
  }
  p {
    font-size: 35px;
  }
  footer a {
    font-size: 30px;
  }
}
