html{
    width:100%;
    height: auto;
}
body{
    height: 100%;
    width: auto;
    margin: auto;
    display:flex;
    flex-direction: column;
}
h1{
    color:rgba(253, 203, 70, 1);
}

header{
    display:flex;
    justify-content: center;
    background-color: rgba(87,156,135,1);

}
a{
    text-decoration: none;
}
/*--------------*/
/* ==  MAIN     */
/*--------------*/

#main_container{
    display:flex;
    flex-direction:column;
}
#section_1{
    width: 100%;
    margin:auto;

}
/* --- Menu 1 Note ---*/
.menu_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 250px;
    margin:5px;
    background-color: rgba(252,223,219,1);
    box-shadow:0px 0px 3px 2px rgba(241,241,241,1);
}
#icon img {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    
}
#note{
    display: flex;
    flex-direction: column;
}
#note a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Devonshire','Times New Roman', Times, serif;
    font-size:20px;
    font-weight:100;
    margin: 5px auto;
}
.menu_1 span{
    font-family: 'Kalam','Times New Roman', Times, serif;
    margin-top:5px;
}

/* --- Menu 2 French ---*/
.menu_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 250px;
    margin:5px;
    background-color: rgba(255,245,254,1);
    box-shadow:0px 0px 3px 2px rgba(241,241,241,1);
}
.menu_2 a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Croissant One','Times New Roman', Times, serif;
    font-size:20px;
    margin-bottom: 5px;
    background: linear-gradient(90deg, rgba(216,133,46,1) 0%, rgba(214,176,212,1) 50%, rgba(144,91,253,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu_2 span{
    font-family: 'Abril Fatface','Times New Roman', Times, serif;
    color:rgba(199,116,18,1);
    margin-top:5px;
}

#section_2{
    width: 100%;
    margin:auto;
}
    
/* --- Menu 3 Delight ---*/
.menu_3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 250px;
    margin:5px;
    background-color: rgba(249,249,249,1);
    box-shadow:0px 0px 3px 2px rgba(241,241,241,1);
}
.menu_3 a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Dancing Script','Times New Roman', Times, serif;
    font-size:20px;
    margin-bottom: 5px;
    background: linear-gradient(90deg, rgba(4,49,223,1) 0%, rgba(117,168,244,1) 72%, rgba(11,123,246,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu_3 span{
    font-family: 'Kalam','Times New Roman', Times, serif;
    color:#75a8f4;
    margin-top:5px;
}

/* --- Menu 4 Taste ---*/
.menu_4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 250px;
    margin:5px;
    background-color:rgba(253,255,253,1);
    box-shadow:0px 0px 3px 2px rgba(241,241,241,1);
}
.menu_4 a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Kaushan Script','Times New Roman', Times, serif;
    font-size:20px;
    margin-bottom: 5px;
    background: linear-gradient(135deg, rgba(66,151,60,1) 0%, rgba(158,222,120,1) 50%, rgba(191,255,126,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu_4 span{
    font-family: 'Kalam','Times New Roman', Times, serif;
    color:rgba(87, 156, 135,1);
    margin-top:5px;
}
#section_3{
    width: 100%;
    height: 120px;
    margin:auto;
}
.btn_soon{
    display: flex;
    justify-content: center;
    height: 95px;
    margin: auto;
}
.btn_soon h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:lighter;
    font-size: medium;
    color:rgba(253, 203, 70, 1);
    background-color: rgba(87, 156, 135,1);
    height:35px;
    padding: 0 20px 0 20px;
    border-radius: 5px;
    
}

/*--------------*/
/* ==  FOOTER   */
/*--------------*/
footer{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;  
    height: 50px;
    background-color: rgba(87, 156, 135,1);
     
}
footer a{
    color:rgba(253, 203, 70, 1);
    margin:5px auto;
    font-weight:lighter;
    font-size: medium;
}
